// These colors are specific to the theme. Do not use in a package!

@Maine: #ffffff;
@light-gray: #707670;
@Warthog: #746e5b;
@dark-gray: #093a00;
@Tex: #000000;

@Caboose: #080248;
@Alpha: #141a94;
@Tucker: #1cbc9c;
@Doc: #b294bb;
@Locus: #0a3608;
@Delta: #299a00;
@junior: #2c9f73;
@Simmons: #9a0000;
@Sarge: #ff0000;
@a-lighter-shade-of-red: #ff0095;
@Sister: #fff700;
@Grif: #ff6600;
@York: #837321;
